<section class="about-me">
  <img
    src="../../../assets/img/developer-coding.webp"
    alt="A developer using a laptop"
  />

  <article class="about-me__info">
    <h2>About Me</h2>

    <div class="location">
      <mat-icon
        id="location-icon"
        aria-hidden="false"
        aria-label="Location On Icon"
        fontIcon="location_on"
      ></mat-icon>

      <p>Salvador, Bahia, Brazil</p>
    </div>

    <p>
      Front-end & Web Developer, experienced with <strong>HTML</strong>,
      <strong>SCSS</strong>, <strong>TypeScript/JavaScript</strong>,
      <strong>Angular</strong>, a bit of <strong>React</strong>, and some other
      technologies. I strive to build engaging interfaces through writing clean
      and optimized code and utilizing cutting-edge development tools and
      techniques. I'd like to work with outstanding web applications and
      collaborating with cross-functional teams.
    </p>

    <div class="more-contact-options">
      <button>
        <a
          href="../../../assets/files/cv-ptbr-guilhermerocha.pdf"
          download="cv-guilhermerocha"
        >
          <mat-icon
            class="more-contact-options__icon"
            aria-hidden="false"
            aria-label="File Download Icon"
            fontIcon="file_download"
          ></mat-icon>
          Download CV
        </a>
      </button>

      <button>
        <a href="mailto:devguiga@gmail.com">
          <mat-icon
            class="more-contact-options__icon"
            aria-hidden="false"
            aria-label="E-mail Icon"
            fontIcon="email"
          ></mat-icon>
          E-mail
        </a>
      </button>
    </div>
  </article>
</section>
