<article class="project-card">
  <img
    class="project-screenshot"
    [class.hasOrder]="hasOrder1"
    src="{{ project.imgSrc }}"
    alt="{{ project.title }} Project"
  />

  <div class="project-info">
    <h3>{{ project.title }}</h3>
    <p>
      {{ projectShortDescription }}
      <button class="project-info__see-more" (click)="openProjectModal()">
        See More...
      </button>
    </p>

    <div class="project-info__tech-stack">
      <span *ngFor="let tech of project.techStack">{{ tech }}</span>
    </div>

    <div class="project-links">
      <app-github-code-button
        [repositoryUrl]="project.repositoryUrl"
      ></app-github-code-button>

      <app-deploy-button [deployUrl]="project.deployUrl"></app-deploy-button>

      <app-external-link-button
        *ngFor="let link of project.otherLinks"
        [link]="link"
      ></app-external-link-button>
    </div>
  </div>
</article>

<app-project-modal
  [project]="project"
  *ngIf="isModalOpen"
  (returnToProjectsEvent)="closeProjectModal()"
></app-project-modal>
