@use "../../../../assets/scss/partials/mixins";

:host {
  .project-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    width: 100%;

    .project-screenshot {
      border: 2px solid #aba;
      border-radius: 0.5rem;
      max-width: 35rem;
      width: 100%;

      &.hasOrder {
        order: 1;
      }
    }

    .project-info {
      @include mixins.flex-center(column);
      gap: 1rem;
      justify-content: space-between;

      h3 {
        color: var(--bgReverse);
        font-size: 1.4rem;
        text-align: center;
      }

      p {
        color: var(--textColor);
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1.5rem;
        max-width: 35rem;
        text-align: justify;

        .project-info__see-more {
          background-color: transparent;
          border: none;
          color: var(--textColor);
          cursor: pointer;
          font-size: 1.1rem;
          font-weight: 500;
          text-decoration: underline;
          text-transform: uppercase;

          &:hover {
            opacity: 0.85;
          }
        }
      }

      .project-info__tech-stack {
        @include mixins.flex-center;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: flex-start;
        margin-bottom: 1rem;

        span {
          background-color: var(--greenText);
          border-radius: 0.5rem;
          color: #fff;
          font-weight: 600;
          padding: 0.7rem;
        }
      }

      .project-links {
        @include mixins.flex-center;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: flex-start;
      }
    }
  }
}

@media (max-width: 1024px) {
  :host {
    .project-card {
      grid-template-columns: 1fr;

      > * {
        margin-inline: auto;
      }

      .project-screenshot.hasOrder {
        order: initial;
      }
    }
  }
}
