<h2>Skills</h2>

<section class="skills">
  <app-skill [skillSrc]="'../../../assets/img/skills/html5.png'"></app-skill>
  <app-skill
    [skillSrc]="'../../../assets/img/skills/javascript.png'"
  ></app-skill>
  <app-skill
    [skillSrc]="'../../../assets/img/skills/typescript.webp'"
  ></app-skill>
  <app-skill [skillSrc]="'../../../assets/img/skills/angular.png'"></app-skill>
  <app-skill
    [skillSrc]="'../../../assets/img/skills/angular-material.png'"
  ></app-skill>
  <app-skill [skillSrc]="'../../../assets/img/skills/react.webp'"></app-skill>
  <app-skill [skillSrc]="'../../../assets/img/skills/firebase.png'"></app-skill>

  <app-skill [skillSrc]="'../../../assets/img/skills/css3.png'"></app-skill>
  <app-skill [skillSrc]="'../../../assets/img/skills/sass.webp'"></app-skill>
  <app-skill
    [skillSrc]="'../../../assets/img/skills/tailwindcss.webp'"
  ></app-skill>
  <app-skill
    [skillSrc]="'../../../assets/img/skills/bootstrap.png'"
  ></app-skill>
  <app-skill
    [skillSrc]="'../../../assets/img/skills/ant-design.png'"
  ></app-skill>
  <app-skill
    [skillSrc]="'../../../assets/img/skills/styled-components.webp'"
  ></app-skill>
  <app-skill [skillSrc]="'../../../assets/img/skills/figma.png'"></app-skill>

  <app-skill [skillSrc]="'../../../assets/img/skills/graphql.png'"></app-skill>
  <app-skill [skillSrc]="'../../../assets/img/skills/api-rest.png'"></app-skill>
  <app-skill [skillSrc]="'../../../assets/img/skills/jest.webp'"></app-skill>
  <app-skill [skillSrc]="'../../../assets/img/skills/scrum.webp'"></app-skill>
  <app-skill [skillSrc]="'../../../assets/img/skills/jira.webp'"></app-skill>
  <app-skill [skillSrc]="'../../../assets/img/skills/git.png'"></app-skill>
  <app-skill [skillSrc]="'../../../assets/img/skills/github.png'"></app-skill>
</section>
