:host {
  h2 {
    color: var(--greenText);
    font-size: 2.7rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 1rem;
    justify-content: center;
    margin-inline: auto;
  }
}

@media (max-width: 768px) {
  :host {
    .skills {
      grid-template-columns: 1fr 1fr;
      width: max-content;
    }
  }
}

@media (max-width: 375px) {
  :host {
    .skills {
      grid-template-columns: 1fr;
    }
  }
}
