<section class="project-modal">
  <app-rounded-button
    (emitOnClickEvent)="returnToProjectsSection()"
    [tooltipText]="'Return To Projects Section'"
    [buttonCategory]="'return'"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Arrow Back Icon"
      fontIcon="arrow_back"
    ></mat-icon>
  </app-rounded-button>

  <h3>{{ project.title }}</h3>

  <app-rounded-button
    (emitOnClickEvent)="zoomInProjectImage()"
    [tooltipText]="'Zoom In Project Image'"
    [buttonCategory]="'zoomIn'"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Zoom In Icon"
      fontIcon="zoom_in"
    ></mat-icon>
  </app-rounded-button>

  <img src="{{ project.imgSrc }}" alt="{{ project.title }} Project" />

  <p>{{ project.description }}</p>

  <div class="tech-stack">
    <span *ngFor="let tech of project.techStack">{{ tech }}</span>
  </div>

  <div class="project-links">
    <app-github-code-button
      [repositoryUrl]="project.repositoryUrl"
    ></app-github-code-button>

    <app-github-code-button
      *ngIf="project.apiRepositoryUrl"
      [repositoryUrl]="project.apiRepositoryUrl"
      [isApiCode]="true"
    ></app-github-code-button>

    <app-deploy-button
      *ngIf="project.apiDeployUrl"
      [deployUrl]="project.apiDeployUrl"
      [isApiDeploy]="true"
    ></app-deploy-button>

    <app-deploy-button [deployUrl]="project.deployUrl"></app-deploy-button>
  </div>
</section>

<div class="fullscreen-project" *ngIf="isImageFullscreen">
  <p class="zoom-warning">This feature works best for larger devices.</p>

  <img
    class="fullscreen-project-screenshot"
    src="{{ project.imgSrc }}"
    alt="{{ project.title }} Project"
  />

  <app-rounded-button
    (emitOnClickEvent)="zoomOutProjectImage()"
    [tooltipText]="'Zoom Out Project Image'"
    [buttonCategory]="'zoomOut'"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Zoom Out Icon"
      fontIcon="zoom_out"
    ></mat-icon>
  </app-rounded-button>
</div>
