@use "../../../../assets/scss/partials/mixins";

:host {
  button {
    background-color: transparent;
    border: 2px solid var(--greenText);
    border-radius: 0.6rem;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    transition: all 0.15s linear;

    &:hover {
      background-color: var(--greenText);

      a {
        border-radius: 0.6rem;
        color: #fff;

        svg {
          * {
            fill: #fff;
          }
        }
      }
    }

    a {
      color: var(--greenText);
      @include mixins.flex-center;
      gap: 0.5rem;
      padding: 0.7rem;
      text-decoration: none;

      svg {
        width: 1.2rem;

        * {
          fill: var(--bgReverse);
        }
      }
    }
  }
}
