<app-choose-language-menu
  *ngIf="isChooseLanguageMenuOpen"
  (closeChooseLanguageMenuEvent)="closeChooseLanguageMenu()"
></app-choose-language-menu>

<app-wrapper [ngStyle]="isHeaderWrapperSticky ? headerWrapperSticky : null">
  <app-header
    id="home"
    (scrollToSectionEvent)="scrollToSection($event)"
    (updateCurrentTabEvent)="updateCurrentTab($event)"
    [currentTab]="currentTab"
  ></app-header>
</app-wrapper>

<app-wrapper>
  <app-introduction></app-introduction>
</app-wrapper>

<app-wrapper>
  <app-skills id="skills"></app-skills>
</app-wrapper>

<app-wrapper>
  <app-about-me id="about"></app-about-me>
</app-wrapper>

<app-wrapper>
  <app-projects id="projects"></app-projects>
</app-wrapper>

<app-footer id="contact"></app-footer>

<app-go-to-the-top></app-go-to-the-top>
