@use "../../../assets/scss/partials/mixins";

:host {
  .projects {
    min-height: 100vh;
    padding-block: 2rem;

    h2 {
      color: var(--greenText);
      font-size: 1.8rem;
      margin-bottom: 0.6rem;
      text-transform: uppercase;
    }

    p {
      color: var(--bgReverse);
      font-size: 1.3rem;
      font-weight: 600;
      margin-bottom: 1.2rem;
    }

    .projects-cards {
      @include mixins.flex-center(column);
      gap: 2.5rem;
    }
  }
}

@media (max-width: 1024px) {
  :host {
    .projects {
      h2,
      p {
        text-align: center;
      }
    }
  }
}
