<section class="projects">
  <h2>Portfolio</h2>
  <p>{{ projectsTexts.takeALook }} 👀</p>

  <section
    class="projects-cards"
    *ngIf="areAllProjectsActive; else showFewProjectsSection"
  >
    <app-project
      *ngFor="let project of projects; let i = index"
      [project]="project"
      [index]="i"
    ></app-project>
  </section>

  <ng-template #showFewProjectsSection>
    <section class="projects-cards">
      <app-project
        *ngFor="let project of fewProjects; let i = index"
        [project]="project"
        [index]="i"
      ></app-project>
    </section>
  </ng-template>

  <p class="current-amount-of-projects">
    {{ projectsTexts.title }} ({{
      areAllProjectsActive ? projects.length : fewProjects.length
    }})
  </p>

  <button
    class="see-projects-button"
    (click)="areAllProjectsActive ? showFewProjects() : showAllProjects()"
  >
    {{
      areAllProjectsActive
        ? projectsTexts.seeProjects.seeLess
        : projectsTexts.seeProjects.seeAll
    }}
    {{ projectsTexts.title }}
  </button>
</section>
