@use "../../../assets/scss/partials/base";
@use "../../../assets/scss/partials/mixins";

:host {
  header {
    @include mixins.flex-center;
    justify-content: space-between;
    padding-block: 1.4rem;
    position: relative;

    .logo {
      max-width: 10rem;
    }

    nav {
      .close-navbar-button {
        display: none;
      }

      img {
        display: none;
      }

      ul {
        @include mixins.flex-center;
        gap: 1rem;
        list-style: none;

        li {
          color: var(--greenText);
          cursor: pointer;
          font-size: 1.1rem;
          font-weight: 700;
          text-align: center;

          &:hover {
            filter: brightness(1.5);
          }

          @keyframes underlineAnimation {
            0% {
              width: 0%;
            }

            100% {
              width: 90%;
            }
          }

          &.active {
            filter: brightness(1.5);
          }

          &.active::after {
            animation: underlineAnimation 0.15s forwards;
            background-color: var(--greenText);
            content: "";
            display: block;
            height: 2px;
            margin-inline: auto;
            transform: translateY(5%);
          }
        }
      }
    }

    .toggle-current-mode-button {
      background-color: #292929;
      border: 2px solid #ccc;
      border-radius: 0.9rem;
      box-shadow: 0 0 7px #aaaaaaaa;
      cursor: pointer;
      height: max-content;
      max-width: 3.2rem;
      outline: none;
      padding: 0.2rem;
      position: relative;
      width: 100%;

      .toggle-mode-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1rem;

        &.toggle-mode-dark-icon {
          left: 0.2rem;
        }

        &.toggle-mode-light-icon {
          right: 0.3rem;
        }
      }

      .ball {
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        height: 1.1rem;
        position: relative;
        transition: all 0.1s linear;
        width: 1.1rem;
        z-index: 1;

        &.left-side {
          transform: translateX(0%);
        }

        &.right-side {
          transform: translateX(125%);
        }
      }
    }

    .open-navbar-button {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  :host {
    header {
      @keyframes openNavbarAnimation {
        0% {
          top: -100%;
        }

        100% {
          top: 0;
        }
      }

      nav {
        display: none;

        &.open {
          animation: openNavbarAnimation 0.1s linear;
          background-color: base.$darker-green;
          @include mixins.flex-center(column);
          justify-content: flex-start;
          left: 0;
          min-height: 100vh;
          position: fixed;
          top: 0;
          width: 100%;
          z-index: 2;

          img {
            display: block;
          }
        }

        .close-navbar-button {
          background-color: transparent;
          border: none;
          color: #fff;
          cursor: pointer;
          @include mixins.flex-center;
          position: absolute;
          right: 1.5rem;
          top: 1.5rem;
          transform: scale(1.5);
        }

        img {
          background-color: #000;
          border-radius: 50%;
          margin-top: 5rem;
          max-width: 10rem;
        }

        ul {
          flex-direction: column;
          margin-top: 2rem;

          li {
            font-size: 1.8rem;
          }
        }
      }

      .toggle-current-mode-button {
        margin-left: auto;
        margin-right: 1.5rem;
      }

      .open-navbar-button {
        background-color: var(--bgReverse);
        border: none;
        border-radius: 3px;
        color: var(--bgColor);
        cursor: pointer;
        display: flex;
        padding-inline: 0.1rem;
        transform: scale(1.4);
      }
    }
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  :host {
    header {
      nav {
        &.open {
          justify-content: center;

          img {
            display: none;
          }

          ul {
            margin: 0;
          }
        }
      }
    }
  }
}
